<footer class="page-footer footerEdit">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MusicMind</h5>
        <p class="grey-text text-lighten-4">MusicMind 2019</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Steven Sterling Valencia
    </div>
  </div>
</footer>
