

<nav class="nav">
  <div class="nav-wrapper">
    <a routerLink="/home" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/profile"><i class="material-icons left">person</i>Profile</a></li>
      <li><a routerLink="/search"><i class="material-icons right">search</i>Search songs</a></li>
      <li><a routerLink="/login"><i class="material-icons left">lock_open</i>Get out</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/profile"><i class="material-icons right">person</i>Profile</a></li>
  <li><a routerLink="/search"><i class="material-icons right">search</i>Search songs</a></li>
</ul>
