<app-navbar></app-navbar>
<div class="parallax-container">
  <div class="parallax"><img src="assets/img/parallax1.jpg"></div>
</div>
<div class="section">
  <div class="row container">
    <h2 class="header">{{title}}</h2>
    <p class="grey-text text-darken-3 lighten-3">{{desc}}.</p>
  </div>
</div>
<app-footer></app-footer>


