<div class="row" *ngIf="items.length > 0">
  <div class="card medium col s4" *ngFor="let item of items | paginate: config">
    <div class="card-image waves-effect waves-block waves-light " >
      <img class="activator responsive-img" [src] = "item.album.images[0].url">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{item.name}}<i class="material-icons right">more_vert</i></span>
      <p>{{item.artists[0].name}}</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{item.name}}<i class="material-icons right">close</i></span>
      <p>{{item.album.album_type}}</p>
      <p>{{item.album.name}}</p>
      <p>Total tracks : {{item.album.total_tracks}}</p>
      <iframe class="col s12 m12" [src]="item.uri | security"
      width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

  <pagination-controls class="paginationControls center-align" (pageChange)="pageChanged($event)"></pagination-controls>
</div>
<app-footer></app-footer>

