<app-navbar></app-navbar>
<section>
  <div class="row">
    <div class="col m3">
      <div class="card small">
        <div class="card-image">
          <img [src]="playListImg">
        </div>
        <div class="card-content">
          <span>{{playListType}} {{playListName}}</span>
          <p>{{playListOwner}}</p>
          <p>{{follow}} {{playListFollowers}}</p>
        </div>
      </div>
    </div>
    <div class="col m8">
      <table class="striped">
          <thead>
            <tr>
              <th>Song</th>
              <th>Album</th>
              <th>Photo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tracks | paginate: config">
              <td>{{item.track.name}}</td>
              <td>{{item.track.album.name}}</td>
              <td>
                <img width="50" height="50" [src]="item.track.album.images[0].url" >
              </td>
              <td>
                <button class="bt_Modal btn modal-trigger boton" (click) = "showModal(
                  item.track.uri, item.track.name, item.track.album.name, item.track.album.images[0].url, item.track.popularity)"
                  href="#details">
                  <i class="material-icons">audiotrack</i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="paginationControls center-align" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
    <!-- Modal Structure -->
    <div id="details" class="modal">
      <div class="modal-content">
        <h4>{{modalHeader}}</h4>
        <hr>
        <div class="row">
          <div class="col md 10">
            <p>{{modalDesc}}</p>
            <p>{{popularity}} {{modalPopularity}} %</p>
            <iframe [src]="modalId | security" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
          <div class="col md 2">
            <img class="responsive-img" [src]="modalImg" width="200" height="200">
          </div>
        </div>
        <hr>
      </div>
      <div class="modal-footer">
        <button class="waves-effect waves-light btn modal-close ">Close</button>
      </div>
    </div>
</div>
</section>
<app-footer></app-footer>
