<div class="row container">
  <form class="col s6" [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">portrait</i>
        <input id="icon_prefix" type="text" formControlName="email" name="email">
        <label for="icon_prefix">{{email}}</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">lock_outline</i>
        <input id="icon_telephone" type="password" formControlName="pass">
        <label for="icon_telephone">{{password}}</label>
      </div>
    </div>
    <button [disabled]="!formdata.valid" class="btn waves-effect waves-light" type="submit" name="action">{{login}}
      <i class="material-icons right">send</i>
    </button>
  </form>
  <div><p>{{emailId}}</p></div>
</div>


