.ProfileCard{
  margin-bottom: 2em;
}
.Profile_PlayListCard{
  width: 65%;
}
.Profile_PlayListCard:hover{
  cursor: pointer;

}
.margin_bottom{
  margin-bottom: 1em;
}
.horizontal{
  background-color: #c6c7c866;
}
