<app-navbar></app-navbar>
<!-- <h3>{{title}}</h3> -->
<div class="container">

  <div class="row">
    <div class="col s12 m9">
        <h3 class="header">{{userType}}</h3>
        <div class="card horizontal">
          <div class="card-image">
            <img [src] = "userImg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <div class="margin_bottom" >
                <p>{{userName}}</p>
              </div>
              <div class="margin_bottom">
                <p>{{Followers}} {{Userfollowers}}</p>
              </div>
              <div class="margin_bottom">
                <a [href]="url" target="_blank">{{url}}</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col s9">
      <ul class="tabs horizontal">
        <li class="tab col s4"><a class="active" style="color: black;" href="#playLists">{{MyPlayList}}</a></li>
      </ul>
    </div>
    <div id="playLists">
      <div class="Profile_PlayListCard" *ngFor="let play of playList"  (click)="showPlayList( play.id )">
        <div class="col  m6">
          <div class="card s6">
            <div class="card-image">
              <img [src]="play.images[0].url" >
              <span class="card-title">{{play.name}}</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">remove_red_eye</i></a>
            </div>
            <div class="card-content">
              <p>By {{play.owner.display_name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
