<app-navbar></app-navbar>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6 ">
        <i class="material-icons prefix">search</i>
        <input #term type="text" (keyup)="searchTracks(term.value)" class="form-control search">
      </div>
    </div>
  </form>
</div>

<app-tracks [items]="tracks"></app-tracks>


